:root {
    --bg-colour: #f8f9fa;
    --text-colour: #212529;
    --border-colour: #ddd;
    --hover-bg-colour: #e9ecef;
    ---link-colour: #227bff;
    --search-button-colour: linear-gradient(135deg, #9a89eb, #f75e86, #ed8951);
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-colour: #252525;
        --text-colour: #f8f9fa;
        --border-colour: #495057;
        --hover-bg-colour: #343a40;
        --link-colour: #227bff;
        --search-button-colour: linear-gradient(135deg, #9a89eb, #f75e86, #ed8951);
    }

    #query::placeholder {
        color: #a8a8a8;
    }
}

body {
    background-color: var(--bg-colour);
    color: var(--text-colour);
    justify-content: left;
}

.result-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    position: relative;
    padding-right: 0px;
}

.result-container {
    flex: 1;
    padding: 10px;
    background: var(--bg-colour);
    border: 1px solid var(--border-colour);
    border-radius: 8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.result-container p.text-muted.small {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.result-container, .description {
    word-wrap: break-word;
    white-space: normal;
}

.information-container {
    padding: 20px;
    padding-bottom: 10px;
    text-align: center;
}

.app {
    padding: 0px;
    padding-bottom: 0px;
    text-align: left;
    flex: 1;
    background: var(--bg-colour);
    border: 1px solid var(--border-colour);
    border-radius: 7px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.feedback-buttons {
    position: absolute;
    right: 10px;
    display: none;
    flex-direction: column;
}

.feedback-buttons button {
    cursor: pointer;
    border: none;
    background: none;
    margin: 5px 0;
    transition: transform 0.2s;
    pointer-events: auto;
    color: var(--text-colour);
}

.result-wrapper:hover .feedback-buttons {
    display: flex;
}

.result-wrapper:hover .result-container {
    background-color: var(--hover-bg-colour);
}

.feedback-buttons button:hover {
    transform: scale(1.2);
}

a {
    pointer-events: auto;
    color: var(---link-colour);
}

.result-container a {
    text-decoration: none;
    color: var(---link-colour);
}

.favicon {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.page-item.active .page-link {
    background-color: var(---link-colour);
    border-color: var(---link-colour);
    color: var(--bg-colour);
}

.page-link {
    background-color: var(--bg-colour);
    border-color: var(--border-colour);
    color: var(---link-colour);
}

.page-item.disabled .page-link {
    background-color: var(--bg-colour);
    border-color: var(--border-colour);
    color: var(--text-colour);
}

.form-control {
    background-color: var(--bg-colour);
    color: var(--text-colour);
    border-color: var(--border-colour);
}

.form-control:focus {
    background-color: var(--bg-colour);
    color: var(--text-colour);
}

.btn-primary {
    background-color: var(---link-colour);
    border-color: var(---link-colour);
}

.text-muted {
    color: var(--text-colour) !important;
    opacity: 0.6;
}

#searchForm {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* Align form elements to the left */
    max-width: 100%;
}

#searchForm h1 {
    margin: 0;
    /* Remove default margin */
    line-height: 1;
    /* Ensure the line height matches the input */
}

.pagination {
    justify-content: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.search-button {
    background: #00000000;
    color: var(--text-colour);
}

.search-button:hover {
    background: var(--search-button-colour);
    border-color: var(--search-button-colour);
    color: #ffffff;
}

.ghost-result {
    opacity: 0.7; /* Slightly faded */
    animation: pulse 1.5s ease-in-out infinite; /* Add a subtle pulse effect */
}

.ghost-line {
    height: 1em; /* Adjust height as needed */
    margin-bottom: 0.5em;
    background-color: #eee; /* Light gray background */
    border-radius: 4px;
}

@keyframes pulse {
    0% { opacity: 0.5; }
    50% { opacity: 1; }
    100% { opacity: 0.5; }
}

/*Hide feedback buttons in ghost results*/
.ghost-result .feedback-buttons {
  display: none;
}

#resultsInfo {
    margin-bottom: 15px;
    margin-top: -10px;
}